<table class="chart">
  <tr>
    <td>banino - </td>
    <td>oyvindmo - vlarsen</td>
    <td>yngve - oyving</td>
    <td>thomasg - krosby</td>
    <td>havardpe - musum</td>
    <td>gv - johansen</td>
    <td>geirst - bratseth</td>
    <td>arnej - kraune</td>
  </tr>
  <tr>
    <td colspan="2">banino - oyvindmo</td>
    <td colspan="2">yngve - thomasg</td>
    <td colspan="2"></td>
    <td colspan="2">- kraune</td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td colspan="4"></td>
  </tr>
  <tr>
    <td colspan="8"></td>
  </tr>
  <tr>
    <td colspan="8"></td>
  </tr>
</table>
  